*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
	background: #111;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

#container {
    display: flex;
    flex-wrap: wrap;
    height: 510px;
    padding: 1px;
    width: 510px;
    margin: auto;
}

/* #container div {
    background: #EEE;
    flex-grow: 1;
    margin: 1px;
    width: 24%;
} */

.square {
	background-color: #1d1d1d;
	box-shadow: 0 0 2px #000;
    flex-grow: 1;
    margin: 1px;
    width: 24%;
	transition: 2s ease;
}

.square:hover {
	transition-duration: 0s;
}


/* .trail:hover {
    background: #7ad0ff;
    background: linear-gradient(to bottom, #7ad0ff, #47beff);
    -webkit-animation-duration: 4s;
    animation-duration: 1s;
} */

/* #container div:hover {
    background: #7ad0ff;
    background: linear-gradient(to bottom, #7ad0ff, #47beff);
    -webkit-animation-duration: 4s;
    animation-duration: 1s;
} */